go-workflow.exe
go-workflow
测试
STAR.fznews.com.cn.crt
STAR.fznews.com.cn.key
server.crt
server.key

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/.idea/